@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

body {
  height: 100%;
  margin:0px;
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;



}

.navbar{
    display: flex;
}

.navbar-image{
    margin-right: auto;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* @media screen and (max-width: 550px) {
  .navbar-image{
     width: 100px;
     height: 100px; 
  }
} */


/* .navbar-signin{
    margin-right: 10px;
} */


.navbar-help {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  height:65px;
  touch-action: manipulation;
  width: 65px;
}

.navbar-help:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.navbar-signin {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  height: 50px;
  touch-action: manipulation;
  width: 100px;
}

.navbar-signin:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.link-s{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
;}

.link-r{
  padding: 70px 0;
  text-align: center;
  padding-top: 10px;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
;}


.link-f{
  margin-left: 6px;
  margin-right: 6px;

}

.main{
  /* z-index: -1; */

    padding-top: 70px;
    text-align: center;
}

.choose1{
    justify-content: center;
    display: flex;
}

.nav-link{
  border-radius: 30px;
}

.nav-text{
  
}

  .btn-nav {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    height: 50px;
    width: 100px;
    touch-action: manipulation;
    margin-right: 10px;
  }
  
  .btn-nav:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .search-box{
    margin-bottom: 20px;
  }

  .userdata{
    padding-top: 13px;
    font-size: 25px;
    margin-right: 40px;

  }


.twitter{
    width: 50px;
    height: 50px;
}

.icon-f{
    margin-right: 8px;
}

.icon-f1{
  margin-right: auto;
}
.addbimage{
  position:absolute;
  right: 15px;
  bottom: 5px;
}

.addbimage :hover{
   width:40px ;
   height: 40px;
   color:rgba(15, 15, 152, 0.84);
}

.tfooter{
    position:absolute;
    width: 100%;
    bottom: 0;
}

.shearch{
    margin-right: 10px;
}

.shearchb {
    display: none;

  }
 
  .shearch:hover .shearchb {
    display: block;
  }


  .signin{
    text-align: center;
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);

  }

  .signup{
    text-align: center;
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }

  .signup  button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f45b69;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .signup  button:hover {
    background-color: #f24353;
  }

  .signin  button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f45b69;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .signin  button:hover {
    background-color: #876064;
  }

  .form-control{
    margin-bottom: 15px;
  }
  


  .addButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .addPage{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .r1c2{
    margin-right: 30px;
  
  }

  .help-t{
    font-size: 20px;
    color: #00aced;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .help-b{
    padding-top: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 30px;
  }
  
  .r1c1{
    margin-right: 114px;
  }
  
  .aName{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    border-radius: 12px;
    padding: 1em;
    background: #00aced;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    align-items: center;
    height: 150px;
  }
  
  .aUrl{
    margin-bottom: 20px;
  }
  
  .add2{
    margin-right: 40px;
  }
  .search-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .btn-search{
    position: absolute;
    top: 9px;
    right: 8px;
    width: 35px;
    padding: 0;
border: none;
background: none;

    /* margin-right: -25px; */
    height: 35px;
    border-radius: 30px;
  } 
  .koko{
    padding-bottom: 5px;
  font-family: 'Ubuntu', sans-serif;
  color: #2a2a2a;
  }


  @media screen and (max-width: 800px) {
    .koko {
      width: 75vw;
    }
  }
  .koko p {
    margin: 0 0 20px;
    font-size: 10px;

  }
  .koko p:last-child {
    margin: 0;
  }
  .koko p a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #0d9df7;
  }
  .koko p a::after {
    content: "";
    background: rgba(62, 174, 243, 0.482);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: 2;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  .koko p a:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
  

 .input-search{
  max-width: 750px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 30px;
  height: 40px;

  padding: 6px 23px 2px 30px;
  outline: 0;
  align-items: center;
  background-color: #f5f5f5;
 } 

 .input-search:hover, .input-search:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.tfooter p{
  margin-bottom: 0px;
}

.navigation {
  position: sticky;
  z-index: 3;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  /* padding-bottom: 10px; */
  background-color: var(--primary-white);
  color: var(--primary-dark);
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: var(--primary-dark);
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media only screen and (hover: none) and (pointer: coarse){

  .main{
    padding-top: 60%;
  }
  
  }

@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }
  .navigation{
    height: 100px;
    
  }


  
  /* .main{
    padding-top: 60%;
  } */

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  
  }

  .navigation-menu li:hover {
    /* background-color: #black; */
  }

  .navigation-menu.expanded ul {
    display: block;
  }
  .nav-link{
    border:none;

  }
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 4;
}

.overlay  {
  background: rgba(49,49,49,0.8);
  z-index: 4;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 10;

}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}




/* CSS */
.button-17 {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}